{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}
{% block script %}<script src="../static/js/app.js"></script> {% endblock %}

{% block header %}
    <header>
        <nav class="container container--70">
            <ul class="nav--actions">
                <li><a href="{% url 'login' %}">Login</a></li>
                <li class="highlighted"><a href="#">Register</a></li>
            </ul>

            <ul>
                <li><a href="{% url 'home' %}">Start</a></li>
                <li><a href="{% url 'home' %}#steps">What is it about?</a></li>
                <li><a href="{% url 'home' %}#about-us">About us</a></li>
                <li><a href="{% url 'home' %}#help">Foundations and organizations</a></li>
                <li><a href="{% url 'home' %}#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <section class="login-page">
        <h2>Create an account</h2>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field }}
                </div>
            {% endfor %}

            <div class="form-group form-group--buttons">
                <a href="{% url "login" %}" class="btn btn--without-border">Log in</a>
                <button class="btn" type="submit">Register</button>
            </div>
        </form>
    </section>
{% endblock %}



